/* ROOT */
:root {
  /* ESCALA */
  --fs-base: 62.5%;

  /* COLORES */

  --rojo: #d56d83;
  --rojolight: #faced7;
  --azul: #57537d;
  --azullight: #736f97;
  --naranja: #da9022;
  --naranjalight: #ffe4bc;
  --verde: #b5c870;
  --verdedark: #8ba52e;
  --blanco: #ffffff;
  --negro: #000000;
  --gray: #d6d6d6;
  --white: #ffffff;
}

/* FUENTES */

@font-face {
  font-family: "Pacidico Regular";
  src: url("../src/assets/fonts/Pacifico-Regular.ttf");
}

/* CUERPO DEL DOCUMENTO */

*,
*:before,
*:after {
  box-sizing: border-box;
}

html {
  font-size: var(--fs-base);
  position: relative;
}

html,
body {
  margin: 0;
}

body {
  background-color: var(--naranjalight);
  font-family: "Pacidico Regular";
  cursor: default;
  height: 100%;
}

/* .app {
} */

.error {
  color: var(--rojo);
  font-size: 2rem;
  text-align: center;
  background-color: var(--rojolight);
  border-radius: 2rem;
}

.verde {
  color: var(--verdedark) !important;
}

.naranja {
  color: var(--naranja) !important;
}

.rojo {
  color: var(--rojo) !important;
}

/* @media (max-width: 1120px) {
  .app {
    flex-direction: column-reverse;
  }
} */
