/* ROOT */
:root {
  /* ESCALA */
  --fs-base: 62.5%;

  /* COLORES */

  --rojo: #d56d83;
  --alert: #da284f;
  --rojolight: #faced7;
  --azul: #57537d;
  --azullight: #736f97;
  --naranja: #da9022;
  --naranjalight: #ffe4bc;
  --verde: #cddd93;
  --verdedark: #8ba52e;
  --blanco: #ffffff;
  --negro: #000000;
  --gray: #d6d6d6;
  --white: #ffffff;
}

/* FUENTES */

@font-face {
  font-family: "Pacidico Regular";
  src: url("../src/assets/fonts/Pacifico-Regular.ttf");
}

/* CUERPO DEL DOCUMENTO */

*,
*:before,
*:after {
  box-sizing: border-box;
}

html {
  font-size: var(--fs-base);
  position: relative;
}

html,
body {
  margin: 0;
}

body {
  background-color: var(--naranjalight);
  font-family: "Pacidico Regular";
  cursor: default;
  height: 100%;
}

.root {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto auto auto auto auto;
  gap: 0px 0px;
  grid-template-areas:
    "header"
    "hero"
    "presupuesto"
    "producto"
    "list"
    "panel";
}

@media (min-width: 1120px) {
  .root {
    display: grid;
    grid-template-columns: 1fr 1fr;
    /* grid-template-rows: auto auto auto; */
    grid-template-rows: 22rem 12rem 66.5rem;
    gap: 0px 0px;
    grid-template-areas:
      "header presupuesto"
      "hero panel"
      "producto list";
  }
}

.error {
  color: var(--rojo);
  font-size: 2rem;
  text-align: center;
  background-color: var(--rojolight);
  border-radius: 2rem;
}

.exito {
  color: var(--verdedark);
  font-size: 2rem;
  text-align: center;
  background-color: var(--verde);
  border-radius: 2rem;
}

.verde {
  color: var(--verdedark) !important;
}

.naranja {
  color: var(--naranja) !important;
}

.rojo {
  color: var(--alert) !important;
}
